<form action="{{ formAction }}" method="POST" class="form-horizontal">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}
    <div class="form-group">
        <label for="form-talk-title" class="col-sm-2 control-label">Talk Title</label>
        <div class="col-sm-10">
            <input id="form-talk-title" type="text" name="title" class="form-control" placeholder="Talk Title" value="{{ title }}" maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-description" class="col-sm-2 control-label">Description/Abstract</label>
        <div class="col-sm-10">
            <textarea id="form-talk-description" name="description" class="form-control" placeholder="Give a description of your talk (Abstract)" rows="10">{{ description }}</textarea>
            <p class="help-block">Speaker abstract can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-slides" class="col-sm-2 control-label">Slides</label>
        <div class="col-sm-10">
            <input id="form-talk-slides" type="text" name="slides" class="form-control" placeholder="Slides URL (if exists)" value="{{ slides }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-type" class="col-sm-2 control-label">Talk Type</label>
        <div class="col-sm-10">
<<<<<<< HEAD
            <select id="form-talk-type" name="type">
                <option value="regular" {% if type == 'regular' %}selected {% endif %}>Regular (1 hour including QA)</option>
                <option value="tutorial" {% if type == 'tutorial' %}selected {% endif %}>Tutorial (3 hours)</option>
=======
            <select id="form-talk-type" name="type" class="form-control">
                <option value="regular" {% if type == 'regular' %}selected {% endif %}>Regular</option>
                <option value="tutorial" {% if type == 'tutorial' %}selected {% endif %}>Tutorial</option>
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-category" class="col-sm-2 control-label">Talk Category</label>
        <div class="col-sm-10">
<<<<<<< HEAD
            <select id="form-talk-category" name="category">
                <option value="phpfuture" {% if category == 'phpfuture' %}selected {% endif %}>PHP and it's future</option>
                <option value="virtualization" {% if category == 'virtualization' %}selected {% endif %}>Virtualization and environments</option>
                <option value="devlife" {% if category == 'devlife' %}selected {% endif %}>Development life style</option>
=======
            <select id="form-talk-category" name="category" class="form-control">
                <option value="api" {% if category == 'api' %}selected {% endif %}>APIs (REST, SOAP, etc.)</option>
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf
                <option value="continuousdelivery" {% if category == 'continuousdelivery' %}selected {% endif %}>Continuous Delivery</option>
                <option value="security" {% if category == 'security' %}selected {% endif %}>Security</option>
                <option value="responsive" {% if category == 'responsive' %}selected {% endif %}>Responsive design</option>
                <option value="testing" {% if category == 'testing' %}selected {% endif %}>Testing (unit, functional, etc.)</option>
                <option value="vcs" {% if category == 'vcs' %}selected {% endif %}>Version control</option>
                <option value="ux" {% if category == 'ux' %}selected {% endif %}>User Experience / Usability</option>
                <option value="architectures" {% if category == 'architectures' %}selected {% endif %}>(Big) Data / Architectures</option>
                <option value="crossingphp" {% if category == 'crossingphp' %}selected {% endif %}>Crossing the PHP bridge</option>
                <option value="other" {% if category == 'other' %}selected {% endif %}>Other</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-level" class="col-sm-2 control-label">Session Type</label>
        <div class="col-sm-10">
<<<<<<< HEAD
            <select id="form-talk-level" name="level">
                <option value="overview" {% if level == 'overview' %}selected {% endif %}>Overview</option>
                <option value="handson" {% if level == 'handson' %}selected {% endif %}>Hands on</option>
                <option value="indepth" {% if level == 'indepth' %}selected {% endif %}>In depth</option>
=======
            <select id="form-talk-level" name="level" class="form-control">
                <option value="entry" {% if level == 'entry' %}selected {% endif %}>Entry level</option>
                <option value="mid" {% if level == 'mid' %}selected {% endif %}>Mid-level</option>
                <option value="advanced" {% if level == 'advanced' %}selected {% endif %}>Advanced</option>
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-other" class="col-sm-2 control-label">Additional Talk Information</label>
        <div class="col-sm-10">
            <textarea id="form-talk-other" name="other" class="form-control" placeholder="Other Considerations, such as Joind.In, Lanyrd, local user group, etc." rows="10">{{ other }}</textarea>
            <p class="help-block">Talk additional information can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-sponsor" class="col-sm-2 control-label">Company Sponsorship</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-sponsor">
                    <input id="form-sponsor" name="sponsor" type="checkbox" value="1" {% if sponsor == '1' %}checked{% endif %}> Is your company sponsoring, or would they like to?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="form-desired" class="col-sm-2 control-label">Most Desired</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-desired">
                    <input id="form-desired" name="desired" type="checkbox" value="1" {% if desired == '1' %}checked{% endif %}> Of your submissions, is this your best?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>
